<p><%= @text%> Page</p>
<footer>
  <nav class="round">
    <ul>
      <li><%= link_to "O Nas", about_path %></li>
      <li><%= link_to "Kontakt", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">Newsy</a></li>
      <li><a href="http://www.railstutorial.org/">Rails Tutorial</a></li>
    </ul>
  </nav>
</footer>