<header>
        <nav class ="round">
          <ul>
            <li><%= link_to "Główna", root_path %></li>
            <li><%= link_to "Pomoc", help_path %></li>
            <li><%= link_to "Zarejestruj się", "" %></li>
          </ul>
        </nav>
</header>